[submodule "dependencies/hetu_otp_util"]
	path = dependencies/hetu_otp_util
	url = https://github.com/hetu-community/hetu_otp_util.git
[submodule "dependencies/hetu_spotify_gql_client"]
	path = dependencies/hetu_spotify_gql_client
	url = ssh://git@codeberg.org/sonic-liberation/hetu_spotify_gql_api_client.git
